*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(117, 116, 116);
}
h1{
    text-align: center;
    margin-top: 25px;
    font-size: 500%;
    padding-bottom: 20px;
    color: rgb(8, 14, 95);
}
form{
    background-color: rgb(154, 207, 228);
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding-bottom: 80px;
}
form h2{
    padding: 20px 20px;
    font-size: 250%;
    color: rgb(28, 14, 107);
}
form input{
    padding: 10px;
    width: 50%;
    margin: 7px;
    background-color: rgb(199, 229, 255);
    border: none;
}
#in{
    width: 20%;
    text-decoration: solid;
    border: 1px solid;
}
.link{
    text-align: center;
    font-size: large;
    margin-right: 600px
    
}
a{
    color: white;
    text-decoration: none;
}
